*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #063940;

}

body{

    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 30px;

}

button{

    padding: 7px;
    border-radius: 3px;
    background-color: #8ebdb6;

}

button:hover{

    cursor: pointer;

}